<p id="notice"><%= notice %></p>

<h1>Number Runnings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @number_runnings.each do |number_running| %>
      <tr>
        <td><%= number_running.title %></td>
        <td><%= number_running.body %></td>
        <td><%= link_to 'Show', number_running %></td>
        <td><%= link_to 'Edit', edit_number_running_path(number_running) %></td>
        <td><%= link_to 'Destroy', number_running, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Number Running', new_number_running_path %>
